
*.bat
*.saved_uv4
*.o
*.crf
*.d
*.axf
*.htm
*.hex
*.map
*.lnp
*.sct
*.dep
*.inc
*.url
*.od
*.txt
*.XLH
*.zip
*.lst


*.pc
//*.uvoptx
//*.uvprojx
//*.uvopt
*.flyleaf
USER/DebugConfig/
PDO/Keil/Objects/
*.dbgconf